.navbar {
  position: relative;
}

.nav-hov-item {
  display: inline-block;
  position: relative;
}

.additional-options {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 100%;
  left: -5rem;
  background-color: #1f1e1e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
  white-space: nowrap;
}

.additional-link-items {
  margin-right: 10px;
  text-decoration: none;
}
.additional-link-items:hover {
  text-decoration: none;
  color: aqua;
}

.additional-link-items:last-child {
  margin-right: 0;
}
